{% extends 'base.html' %}

 {% block content %}
<h1>About Givr</h1>
 <img src="/static/look-away-f-homeless.jpg" alt="logo_transparent" style="width:600px;height:400px;">
<br>
<br>
<h3>The Problem</h3>
<br>
<p>The booming tech economy affects millions of people daily. In San Francisco nearly all clothing stores, restaurants, grocery markets and even parking meters accept electronic payments and fewer and fewer people carry cash. Unfortunately, the visibly homeless cannot tap into this electronic payment system when asking for donations. </p>
<br>
<h3>Vision</h3>
<br>
<p>GivR will provide a mechanism to alleviate the immediate hunger of the visibly homeless in San Francisco. </p>
<br>
<h3>Purpose</h3>
<br>
<p>GivR is an app that bridges the gap between 21st century technology and feeding the visibly homeless. This app allows any GivR with a smartphone and a debit card or credit card to Giv hot food to a homeless individual. It is cashless, delivers within an hour, and tracks eligible taxable donations. </p>
</div>
<br>
<br>


    {% endblock %}