{% extends 'base.html' %}

    {% block content %}
<h1 right:"30px" >Preference</h1>
<br>
<h3>What would you prefer if homeless individual is not at chosen location upon delivery?</h3>
<h4>Choose One</h4>
<br>
<form class="form-group" action="/alt_choice" method="POST">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
        <input type="radio" name="alt_choice1" position: relative value="Deliver to another visibly homeless individual"> Deliver to another visibly homeless individual
        <br>
        <input type="radio" name="alt_choice2" value="Deliver to the nearest 24-hour Homeless Shelter"> Deliver to the nearest 24-hour Homeless Shelter
        <br>
        <input type="radio" name="alt_choice3" value="Receive a Refund"> Receive a Refund
        <br>
        </div>
      </div>
    </div>
</div>
<br>
<br>
  <button type="submit" action="/alt_choice" class="btn btn-success">Submit</button>
</form>

</div>

    {% endblock %}