{% extends 'base_login.html' %}

 {% block content %}

<h1 right:"30px" >Here is your Giv History!</h1>
<br>
<br>
<br>
<br>
<h2>How many Givs over time</h2>
<br>

<div>
<br>
<br>
<h2>How many Givs were Tax Deductible</h2>
<br>
<span class="badge badge-pill badge-success"></span>
    <div class="giv-history-chart">
        <canvas id="donutChart"></canvas>
        <div id="donutLegend" class="chart-legend"></div>
    </div>
<br>
<br>
<h2>Average Amount spent on Givs</h2>
<br>
<span class="badge badge-pill badge-success"></span>
<br>
<br>
<h2>You are a GivR in these neighborhoods</h2>
<br>
<br>
<br>
<br>
<br>
<script type="text/javascript">



var options = { responsive: true };

var ctx_donut = $("#donutChart").get(0).getContext("2d");

$.get("/giv_donut.json", function (data) {
    var myDonutChart = new Chart(ctx_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: options
                                          });
    $('#donutLegend').html(myDonutChart.generateLegend());
});
</script>



    {% endblock %}