{% extends 'base.html' %}

 {% block content %}

<h1>How GivR Works</h1>
 <img src="/static/look-away-f-homeless.jpg" alt="logo_transparent" style="width:55px;height:80px;">
<br>
<br>
<h3>Account</h3>
<br>
<p>GivR is very easy to set up. You can log-in using Facebook or Google or make an account directly at the site. You would choose a monetary amount that you would feel comfortable paying for for a snack, including taxes, delivery and tip, also called a small Giv. You would then choose a higher monetary amount that you would feel comfortable paying for a meal, including taxes, delivery and tip, also called a Big Giv. You could then enter your credit card or use paypal. Finally, you get to decide what happens if your order cannot be delivered to the homeless individual. You can choose to have it given to another visibly homeless individual, have it delivered to the nearest homeless shelter, or have the amount refunded to your account. </p>
<br>
<h3>Rapid Giv</h3>
<br>
<p> You would navigate to GivR, be automatically signed in, choose either a small Giv or Big Giv, then choose your location or enter an address, and that’s it! </p>
</div>

    {% endblock %}