{% extends 'base_login.html' %}


    {% block content %}
<form action="/welcome-givr" method="POST">
        <p>What is your email address?</p>
        <textarea name="email">{% if email %}{{ email }}{% endif %}</textarea>
        <p>What is your password?</p>
        <input type="password" name="password"
            {% if password %}value="{{ password }}"{% endif %}></input>
        <br>
        <br>
    <button type"submit" class="btn btn-success">Log In</button>
</form>
    <br>
    {% endblock %}