{% extends 'base.html' %}

    {% block content %}
<h1>Preferences:</h1>
<h2>Credit Card Info</h2>
<h4>Enter the credit card or debit card that you would like to use.</h4>
<br>
<form class="form-group" action="/payment-info" method="POST">
  <div >
    <label>Name as it appears on credit card</label>
    <input type="text" class="form-control" name="creditcardname" id="creditcardname" placeholder="Jane Doe    (required)" required>
    <br>
    <br>
    <label>16 digit credit card number</label>
    <input type="password" maxlength="16" class="form-control" name="creditcardnum" id="creditcardnum" placeholder="no spaces or dashes    (required)" required>
    <br>
    <label>credit card expiration date</label>
    <input type="text" class="form-control" name="creditcardexp" id="creditcardexp" placeholder="MM/YY   (required)" required>
    <br>
    <input type="password number" class="form-control" name="creditcardccv" id="creditcardccv" placeholder="ccv" required>
    <br>
    <small  class="form-text text-muted">You can always change your credit card info by selecting preferences from the menu.</small>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

</div>

    {% endblock %}