{% extends 'base.html' %}

    {% block content %}

<form action="/welcome-givr" method="POST">
  <div class="form-group" action="/welcome-givr" method="POST">

  <h1>Review Preferences:</h1>
  <br>
  <h3>Your small Giv amount is: ${{ smallgiv }}</h3>
  <h3>Your big Giv amount is: ${{ biggiv }}</h3>
  <h3>The last 4 digits of your credit card are: **** **** **** {{ cardsuffix }}</h3>
  <h2>If the request homeless individual is not at chosen location upon delivery, then
  your preference is that we: {{ alternate_choice }}</h2>

<!--       <button type="button" value="register" action=("/welcome-givr") class="btn btn-success">Correct!</button> -->
      <button type="submit" aclass="btn btn-success">Submit</button>
      <button type="button" value="register" onclick="window.location.href='/preferences-small-giv'" class="btn btn-success">Wait, that's not quite right.Let's head back to preferences.</button>
</form>

</div>

    {% endblock %}